.mapContainer {
  position: absolute;
  right:0;
}

.listContainer {
 position: absolute;
  z-index: 5;
}

.googleMap {
  margin-top: 60px;

  position: absolute;
  right: 0;
}

.ingredientPictureContainer {
  margin-top: 40px;
  position: absolute;
  height: 500px;
  z-index: 5;
}

.ingredientPicture {
  position: absolute;
  bottom: 0;
  opacity: .5;
  right: 60px;
  max-width: 400px;
}

.ingredientViewContainer {
  margin-top: -40px;
}

.ingredientWithIdName {
  margin-left: 10px;
  font-style: italic;
  color: #FFF;
  background-color: #2da834;
  padding: 4px 15px;
  width: 90%;
  border-radius: 20px/80%;
  font-size: 36px;
}

.ProductAvailability {
  color: #000;
  text-align: left;
  margin-bottom: 30px;
}

.shopList {
  color: #000;
  text-align: left;
  padding: 0;
}

.separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.shopName {
  font-size: 25px;
  line-height: 1.5;
}

.shopName:before {
  background-image: url("http://www.clker.com/cliparts/3/d/e/4/12428083851546739178Symbol_OK.svg.hi.png");
  content: "";
  background-size: cover;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 20px;
}

.addToList {
  margin-left: 40px;
  margin-top: 20px;
  color: #79a0e0;
  width: 70px;
  height:auto;
  transition: all .2s ease-in-out;
}

.addToList:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #1744d8;;
}

@media (max-width: 1200px) {
  .mapContainer {
    position: relative;
    width: 100%;
  }

  .googleMap {
    position: relative;
    width: 90%;
  }

  .listContainer {
    position: relative;
  }

  .ingredientPictureContainer {
    position: relative;

  }
}