.googleMap {
  margin-top: 60px;
}

.ingredientPictureContainer {
  margin-top: 30px;
  position: relative;
  height: 500px;
}

.ingredientPicture {
  position: absolute;
  bottom: 0;
  max-width: 200px;
}

.ingredientWithIdName {
  font-style: italic;
}

.ProductAvailability {
  text-align: left;
  margin-bottom: 30px;
}

.shopList {
  text-align: left;
  padding: 0;
}

.separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.shopName {
  font-size: 25px;
  line-height: 1.5;
}

.shopName:before {
  background-image: url("http://images.gofreedownload.net/tick-ok-sign-26707.jpg");
  content: "";
  background-size: cover;
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 20px;
}

.basket {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #53f442;
  width: 100px;
  height:auto;
  transition: all .2s ease-in-out;
}

.basket:hover {
  cursor: pointer;
  transform: scale(1.2);
}