.slide-leave {
  transform: translateX(0%);
}

.slide-leave-active {
  opacity: 0.6;
  animation: slide-out 400ms ease-out forwards;
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(130%);
  }
}

h2#counterValue {
  color: black;
  padding-top: 0;
  margin: 0;
}

.counterArea {
  margin: 10px 0 40px 0;
}

.shoppingListTitle {
  font-weight: bold;
  margin-bottom: 30px;
}

.shoppingList {
  padding: 0 8%;
}

.ingredientNameShoppingList {
  font-size: 20px;
  border: none;
  font-style: italic;
}

.printer {
  float: right;
  margin: 30px;
  width: 50px;
  height: auto;
}

.printer:hover {
  cursor: pointer;
  animation: pulsePrinter 1s infinite;
}

@keyframes pulsePrinter {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}