a:hover, a:focus {
  text-decoration: none;
}

.pic {
  height: 400px;
  width: 500px;
  margin: 20px;
  overflow: hidden;
  border: 1px solid #bbb;
  -webkit-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 30px -6px rgba(0, 0, 0, 0.75);
}

.grow .recipeImage {
  height: 400px;
  width: 500px;

  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.grow .recipeImage:hover {
  width: 520px;
  height: 420px;
}

.manualView {
  margin-top: 20px;
}

.ingredient {
  float: left;
  font-size: 30px;
  color: #e61e2a;
  font-family: 'Libre Baskerville', Georgia, serif;
  font-style: italic;
  margin-top: -10px;
}

hr.cutIt {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.ingredientsList {
  text-align: justify;
  clear: both;
  line-height: 2;
}

.ingredientsList li {
  list-style-type: circle;
  font-size: 25px;
  border-bottom: 1px dashed green;
}

.findIngredient {
  float: right;
}

.recipeName {
  background-color: #2CA733;
  letter-spacing: 5px;
  margin-bottom: 0;
  border-radius: 40px 40px 0 0;
  color: #FFF;
  padding: 7px;
  text-shadow: -1px 0 #DDD, 0 1px #DDD, 1px 0 #DDD, 0 -1px #DDD;

}

.recipeViewWrapper {
  border-radius: 0 0 30px 30px;
  padding: 30px;
  border-bottom: 1px solid #BBB;
  border-left: 1px solid #BBB;
  border-right: 1px solid #BBB;
  margin-bottom: 5px;

}

.favorite {
  position: absolute;
  height: 110px;
  bottom: 25px;
  font-size: 65px;
  color: silver;
  right: 10%;
  overflow: hidden;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.ingredientOptions {
  float: right;
}

.socialIcons {
  position: relative;
  text-align: right;
  margin-top: 111px;
}

.iconOptions {
  float: right;
}

.socialIcon {
  margin-right: 15px;
}

.socialGplus {
  color: #de7264;
  transition: all .2s ease-in-out;
}

.socialGplus:hover {
  cursor: pointer;
  color: #d34836;
  transform: scale(1.2);
}

.socialFacebook {
  color: #8b9dc3;
  transition: all .2s ease-in-out;
}

.socialFacebook:hover {
  cursor: pointer;
  color: #3b5998;
  transform: scale(1.2);
}

.socialTwitter {
  color: #d4d8d4;
  transition: all .2s ease-in-out;
}

.socialTwitter:hover {
  cursor: pointer;
  color: #326ada;
  transform: scale(1.2);
}

.bunchIngredients:hover {
  animation: shakeYourAss 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.amount {
  font-style: italic;
  font-family: initial;
}

.aboveDescription {
  height: 30px;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

.aboveDescription:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8c8c;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.description {
  text-align: justify;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  font-size: 17px;
  column-gap: 60px;
  margin: 0 auto;
  padding: 20px;
}

.description:first-letter {
  font-family: serif;
  font-weight: bold;
  color: #e61e2a;
  font-size: 40px;
  float: left;
  padding-right: 20px;
}

.favorite:hover {
  animation: pulse 1s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
  color: gold;
}

.commentTitle {
  display: inline-block;
}

.commentBody {
  display: inline-block;
}

.bodyField {
  vertical-align: top;
}

.calendarIcon {
  opacity: 0.6;
}

.calendarButton {
  float: left;
  margin: 25px;
}

.cart {
  height: 40px;
  width: auto;
  color: #2da834;
}

.calendarButton:hover, .cart:hover {
  opacity: 1;
  animation: shakeYourAss 0.8s;
  transform-origin: 50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: inline-block;
}

.addToListRecipeView {
  margin-top: 3px;
  color: #79a0e0;
  width: 45px;
  height: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.addToListRecipeView:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #1744d8;
}

.checkedIngredient {
  float: right;
  font-size: 40px;
  color: #2CA733;
  margin-top: 5px;
  transition: all .2s ease-in-out;
}

.checkedIngredient:hover {
  transform: scale(1.4);
}

@keyframes shakeYourAss {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes pulse {
  25% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.8);
  }
}

.fadeRecipe-appear {
  animation: fadeIn 0.5s
}

@media (max-width: 1200px) {
  .favorite {
    right: 400px;
  }
}

@media (max-width: 992px) {
  .pic {
    height: 100%;
    width: 100%;
    box-shadow: none;
  }

  .favorite {
    right: 130px;
  }
}
#removeFrmFav {
  position:absolute;
  right: 0;
  height: 30px;
  width: 30px;
  color:yellow;
  background-size: cover;
}
