
.modal-body {
    text-align: center;
}
.modal-title {
    text-align: center;
    font-size: 40px;
}
.modal-backdrop.in {
    opacity: 0.3;
}
.shop-container {
    padding:20px;
    text-align: left;
}
ul li {
    list-style-type: none;
}
.shop-logo:hover {
    opacity:0.5;
}