.cooworkingShops {
    margin-left: 20px;
    color: #FFF;
    background-color: #2da834;
    padding: 4px 15px;
    width: 90%;
    border-radius: 20px/80%;
    font-size: 36px;
}

.shop-logo-view {
    margin-top: 20px;
}
.modal-content {
    border-radius: 40px;
}
.modal-body {
    text-align: center;
}
.modal-header {
    background-color: #2da834;
    border-radius: 40px 40px 0 0;
}
.modal-title {
    text-align: center;
    font-size: 20px;
    color:white;
    letter-spacing: 2px;
}
.modal-backdrop.in {
    opacity: 0.3;
}
.modal-footer {
    border-top: none;
    text-align: center;
    padding-bottom: 30px;
}
.modal-footer a {
    color: white;
    font-size:20px;
    letter-spacing: 1px;
    text-decoration: none;
}

.shop-container {
    padding:20px;
    text-align: center;
}
ul li {
    list-style-type: none;
}

.shop-logo{
    transition: all .2s ease-in-out;
}
.shop-logo:hover {
    transform: scale(1.25);
    cursor: pointer;
}
hr.style-two {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.red-price {
    color:red;
}
.shop-products-table {
    width: 100%;
}
.shop-products-table th {
    text-align: center;
    color:green;
    left: 5px;
}
.shop-products-table td {
    width: 30%;
    height: 70px;
}
.shop-products-table tr {
    border-bottom: 1px solid green;
}
.ingredient-name {
    font-weight: 800;
}
.addToShoppingList {
    margin-top: 3px;
    color: #79a0e0;
    width: 45px;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.addToShoppingList:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #1744d8;
}

.button-close:hover {
    cursor: pointer;
}
