.ingredientFieldContent,
.filtered {
  width: 90%;
  margin: 10px auto;
  border-radius: 40px;
  background-color: white;
  box-shadow: 0 0 0 1px white;
  display: block;
}
.ingredientFieldContent:checked {
  background-color: #2da834;
}

.filtered {
  border: 1px solid #BBB;
}

.chosen {
  border: 1px solid #BBB;
}

.ingredientFieldContent:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.filteredIngredientImage {
  height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.chosenIngredientImage {
  height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ingredientImage {
  height: 50px;
}

.ingredientInput {
  text-align: center;
  width: 75%;
  margin: 0 auto 15px;
  border-radius: 20px;
  font-size: 20px;
  border: 2px solid #2da834;
}

.ingredientInputRow {
  text-align: center;
  margin-bottom: 20px;
}

.ingredientName  {
  text-align: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
  background-color: #2da834;
  color:white;
  border-radius: 40px 40px 0 0;
}

.titles {
  margin: 30px auto 20px;
  font-family: Lato, sans-serif;
  background-color: #2da834;
  color: white;
  border-radius: 40px;
  padding: 5px;
}

hr.middleDividingLine {
  height: 30px;
  border-style: solid;
  border-color: #2da834;
  border-width: 1px 0 0 0;
  border-radius: 40px;
  margin-bottom: 0;
}
hr.middleDividingLine:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #2da834;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr.bottomDividingLine:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #2da834;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

hr.bottomDividingLine {
  border-color: transparent;
}


.searchButtonText {
  display: inline-block;
  font-family: Lato, sans-serif;
  background-color: #2da834;
  color: white;
  border-radius: 20px;
  padding: 8px 10px ;
  float:right;
}



.searchButtonText:hover {
  transform: scale(1.1, 1.1) translateX(-8px);
  box-shadow: 0 0 12px 4px #2da834;
  transition-duration: 1s;
}

.form-control:focus {
  border-color: #2da834;
  box-shadow: 0 0 10px 2px #2da834;
}

.formBottomHalf {
 margin-bottom: 10px;
}