.ingredientFieldContent {
  width: 100%;
  margin: 1px auto;
  background-color: #fff;
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid #8c8c8c;
}

.ingredientFieldContent:hover {
  transform: scale(1.03);
  transition: all .1s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 1px 1px #2da834;
}

.filteredIngredientImage {
  height: 25px;
  max-width: 40px;
}

.chosenIngredientImage {
  height: 25px;
}

.ingredientInput {
  text-align: center;
  width: 100%;
  margin: 0 0 18px;
  padding: 0;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #2da834;
}

.ingredientInputRow {
  text-align: center;
  width: 100%;
  padding: 0;
}

.ingredientName  {
  font-size: 14px;
  color: #FFF;
  padding: 3px 0;
  background-color:#2da834;
  font-family: Lato, sans-serif;
}

.titles {
  margin: 0 0 18px;
  font-size: 18px;
  font-family: Lato, sans-serif;
  background-color: #2da834;
  color: #FFF;
  border-radius: 10px/90%;
  padding: 5px;
  width: 100%;
  text-shadow: none;
  font-weight: bold;
}

hr.middleDividingLine {
  height: 30px;
  border-style: solid;
  border-color: #BBB;
  border-width: 0 0 1px 0;
  margin: 0 0 30px;
}

hr.bottomDividingLine {
  height: 30px;
  border-style: solid;
  border-color: #BBB;
  border-width: 0 0 1px 0;
  margin: 0;
}

.searchButton {
  display: block;
  font-family: Lato, sans-serif;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 0;
  color: #2da834;
  width: 100%;
}

.searchButton:hover {
  transform: scale(1.05, 1.05);
  transition-duration: 1s;
  color: #2da834;
}

.linkInsideButton {
  color: #2da834;
  font-size: 32px;
}

.linkInsideButton:hover {
  color: #2da834;
}

.form-control:focus {
  border-color: #2da834;
}

.formBottomHalf {
  margin-bottom: 10px;
  padding: 0;
}

.fadeFridgeView-appear {
  opacity: 0;
  animation: fadeIn 0.5s
}

