.recipeCardHeight {
  height: 490px;
}

.button-back {
  height: 70px;
  position: relative;
}

.missing-ingredients-info {
  color: white;
  transition: none;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
}

.btn {
  position: absolute;
  left: 10px;

  background: #13c225;
  background-image: -webkit-linear-gradient(top, #13c225, #075c1b);
  background-image: -moz-linear-gradient(top, #13c225, #075c1b);
  background-image: -ms-linear-gradient(top, #13c225, #075c1b);
  background-image: -o-linear-gradient(top, #13c225, #075c1b);
  background-image: linear-gradient(to bottom, #13c225, #075c1b);
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  border-radius: 38px;
  color: #ffffff;
  font-size: 35px;
  padding: 0px 13px 0px 4px;
  text-decoration: none;
}

.btn:hover {
  background: #21b811;
  background-image: -webkit-linear-gradient(top, #21b811, #219110);
  background-image: -moz-linear-gradient(top, #21b811, #219110);
  background-image: -ms-linear-gradient(top, #21b811, #219110);
  background-image: -o-linear-gradient(top, #21b811, #219110);
  background-image: linear-gradient(to bottom, #21b811, #219110);
  text-decoration: none;
  box-shadow: none;
}