.recipeCardHeight {
  max-height: 490px;
}

.missing-ingredients-info {
  color: white;
  transition: none;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.dropdownFilteringButtons {
  margin-bottom: 20px;
}

.filtersTitle {
  margin: 0 0 20px;
  font-size: 18px;
  font-family: Lato, sans-serif;
  background-color: #2da834;
  color: #FFF;
  border-radius: 10px/90%;
  padding: 5px;
  width: 100%;
  text-shadow: none;
  font-weight: bold;
}

.dropdownButton {
  font-family: Lato, sans-serif;
  border: 1px solid #8c8c8c;
  font-size: 13px;
  padding: 3px auto;
}

.instruction {
  font-size: 32px;
  position: relative;
  top: -400px;
  color: black;
}

.arrow {
  font-size: 100px;
  text-align: left;
}

.row {
  background-color: #fafafa;
}

.filteredRecipeCard {
  position: relative;
  width: 260px;
  margin: 0 auto 50px auto;
  height: 400px;
  border: 1px solid #666;
  box-shadow: 2px 2px 19px 0 rgba(50, 50, 50, 0.75);
  border-radius: 5px;
  background-image: url(http://www.ravelo.pl/pub/mm/img/220/11522901.jpg);
  background-size: cover;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.filteredRecipeCard:hover {
  transform: scale(1.04);
}

.recipeTitle {
  padding-top: 10px;
  font-size: 20px;
}

.allIngredients {
  color: #fff;
  font-size: 20px;
  font-family: cursive;
  font-style: italic;
}

.fridgeImg {
  height: 400px;
  opacity: 0.3;
}

.instructionAndImageDiv {
  margin-top: 60px;
}

.btnGroup {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .arrow,
  .filtersTitle {
    display: none;
  }

  .instruction {
    font-size: 20px;
    top: -200px;
  }

  .fridgeImg {
    height: 300px;
    opacity: 0.3;
  }

  .instructionAndImageDiv {
    margin-top: 0;
  }
}

@media screen and (max-width: 470px) {
  .btn-group > .btn,
  .btn-group > .btn-group {
  float: none;
  border-radius: 0;
  }
}

.fadeFilteredRecipes-appear {
  animation: zoomIn 0.9s;
}

.slideInUpFiltered-appear {
  animation: slideInDown 0.9s;
}

.slideFilteredRecipes-appear {
  animation: slideInLeft 0.9s;
}

.bounceFilteredRecipes-appear {
  animation: jello 0.9s;
}