.recipeCardHeight {
  height: 490px;
}

.button-back {
  height: 70px;
  position: relative;
}

.missing-ingredients-info {
  color: white;
  transition: none;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.1);
}

.btn-back {
  position: absolute;
  left: 10px;
  color: #2CA733;
}

.btn-back:hover {
  cursor: pointer;
  color: green;
  animation: shake 1s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

.btn-group {
  margin-bottom: 30px;
}

.route-appear {
  opacity: 0;
  animation: slideIn 0.1s
}