.instruction-view {
    margin-top:130px;
}
.instruction-image {
    text-align: right;
}
.instruction-text {
    padding-top:0;
    line-height: 55px;
}

.span-button, .span-blue {
    background-color:#2da834;
    border: #2da834 2px solid;
    border-radius: 40px;
    padding: 2px 15px;
}
.span-button:hover {
   box-shadow:  0px 11px 38px -6px lightskyblue;

}

a{
    color:white;
}

a:hover {
    color:white;
}