.instruction-view {
  margin-top: 130px;
  margin-left: 130px;
}

.instruction-image {
  text-align: right;
}

.instruction-text {
  padding-top: 0;
  line-height: 46px;
  color: black;
}

.span-button, .span-blue {
  display: inline-block;
  background-color: #2da834;
  border-radius: 15px;
  padding: 0 25px;
  margin: 0 5px;
  color: white;
  box-shadow: 0 5px #999;
  outline: none;
  line-height: 45px;
}

.span-button:active {
  background-color: #3e8e41;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

a {
  color: white;
}

a:hover {
  color: white;
}

.fadeInstruction-appear {
  opacity: 0;
  animation: fadeIn 0.5s
}

.slideInLeft-appear {
  animation: slideInLeft 0.5s;
}

.slideInRight-appear {
  animation: slideInRight 0.5s;
}

.simpleButton {
  padding: 9px;
  margin: 0 auto;
  max-width: 320px;
  position: relative;
  font-size: 21px;
  text-decoration: none;
  color: #fff;
  border: solid 1px #1c8325;
  background-image: linear-gradient(bottom, rgb(15, 90, 21) 0%, rgb(86, 212, 78) 100%);
  border-radius: 5px;
  display: inline-block;
}

.simpleButton:active {
  top:1px;
  background-image: linear-gradient(bottom, rgb(69, 138, 47) 100%, rgb(124, 212, 110) 0%);
}