.instruction-view {
    margin-top:130px;
}
.instruction-image {
    text-align: right;
}
.instruction-text {
    padding-top:0;
    line-height: 55px;
    color:black;
}

.span-button, .span-blue {
    display: inline-block;
    background-color:#2da834;
    border-radius: 15px;
    padding: 0 25px;
    margin: 0 5px;
    color: white;
    box-shadow: 0 5px #999;
    outline: none;
    line-height: 45px;
}

.span-button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

a{
    color:white;
}

a:hover {
    color:white;
}

.fade-appear {
    opacity: 0;
    animation: fadeIn 0.5s
}
