#login-alert, #signUpFail {
    color: red;
}

.registration {
    display: inline-block;
}

.formLabel {
    float: left;
    color: black;
}

.formInput {
    float: right;
    border: deepskyblue solid 2px;
}

.formTitle {
    color: deepskyblue;
    margin-bottom:30px;
}
 #signUpOk p{
    color:green;
}