#login-alert, #signUpFail {
  color: white;
  font-size: 18px;
  background-color: rgba(255, 0, 0, 0.7);
}

.registration {
  display: inline-block;
}

.formLabel {
  float: left;
  color: white;
}

.mokap-container {
  margin-left: 140px;
}

.formInput {
  float: right;
  border: #2cb5e8 solid 2px;
  color: black;
}

.formTitle {
  color: white;
  margin-bottom: 30px;
}

#signUpOk p {
  color: white;
  font-size: 16px;
}

#my-loader, #my-loader-login {
  display: none;
}

.cssload-loader {
  width: 244px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  position: absolute;
  left: 33%;
  transform: translate(-50%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 16px;
  color: white;
  letter-spacing: 0.2em;
}

.cssload-loader::before, .cssload-loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: white;
  position: absolute;
  animation: cssload-load 0.7s infinite alternate ease-in-out;
}

.cssload-loader::before {
  top: 0;
}

.cssload-loader::after {
  bottom: 0;
}

@keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}

.chef {
  margin-top: 30px;
  height: 550px;
  width: 525px;
  background-size: cover;
  background-image: url("http://www.puertadelsol.se/images/Logos-clip-art/chef.png");
}

.chef-cloud {
  font-size: 20px;
  line-height: 40px;
  padding: 26px;
  height: 432px;
  width: 583px;
  background-size: cover;
  background-image: url('http://www.clipartkid.com/images/528/caldwell-see-more-about-comic-books-comics-and-super-heros-NlRl3a-clipart.png');
}

.usserButton {
  padding: 4px;
  font-size: 15px;
  line-height: 20px;
  margin: 6px;
}

.userName {
  color: forestgreen;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .avatar {
  border: 0;
}