html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,233,0,0.3);
}

body::-webkit-scrollbar-thumb {
  outline: 0.3px solid white;
  border-radius: 25px;
  border: solid white 1px;
  max-height:60px ;
  background: url(https://s27.postimg.org/rtaowbt2b/carrot.jpg);
  background-size:contain;
  background-repeat: no-repeat;
}